<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="thesis.drmReader"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="13" />
    
    <supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />

    <application android:name="DrmReaderApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@style/Theme.Sherlock">
    <activity android:name=".ui.ArchiveListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value="thesis.drmReader.ui.EpubsSearchActivity" />
        </activity>
        <activity android:name=".ui.WebListActivity"
                  android:label="@string/webStore">
        </activity>
        
        <activity android:name=".ui.EpubsSearchActivity" android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
    </activity>
        
        <activity android:name=".reader.ReaderView"
        		  android:label="@string/app_name"
        		  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".filebrowser.FileBrowser"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".reader.TOCList"
                  android:label="@string/tableOfContents">
        </activity>
        
        <provider android:name=".reader.ReaderFileProvider"
          android:authorities="thesis.drmReader.reader"
      />
      <provider android:name=".db.DrmReaderProvider"
          android:authorities="thesis.drmreader"
      />

    </application>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
</manifest>